.form-container {
      margin-top: 40px;
      height: auto;

      background-color: white;
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
}

.input-group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
}

.field-container {
      width: 49%;
      margin-right: 10px;
      margin-top: 25px;
      display: flex;
      flex-direction: column;
}

.input {
      margin-top: 1px;
}

.date-picker {
      width: 100%;
}

.max-wdth {
      width: 100%;
}

.text-area {
      height: 50px;
      border: 1px solid rgb(236, 236, 236);
      border-radius: 5px;
}

.form {
      padding: 20px;
      border: 1px solid rgb(236, 236, 236);
      height: auto;
}

.form-control {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
}