.action-container {
      width: 100%;

      background-color: white;

      margin-top: 40px;
      padding: 20px;
}

.action-container h2 {
      margin-bottom: 15px;
}

.invoices-container {
      margin-top: 40px;
      background-color: white;
      width: 100%;
      padding: 20px;

      color: #788197
}

table {
      width: 100%;
      height: 500px;
}

table thead {
      background-color: #f1f3f6;
}

table th {
      width: 10%;
      height: 60px;
      padding-left: 20px;
} 

.last-th {
      width: 4%;
      text-align: end;
      padding-right: 9px;
}

.action-th {
      display: flex;
      align-items: center;
      justify-content: flex-end;
}

table tbody th {
      border-bottom: 1px solid rgb(241, 241, 241);
}